Repository dnsimple/terraform-provider-dnsimple, pull requests merged in 2023-04, with the labels that each got.

#93 Migrate to the Terraform Plugin Framework
  .github/workflows/test.yaml
  CHANGELOG.md
  GNUmakefile
  dnsimple/config.go
  dnsimple/datasource_dnsimple_certificate.go
  dnsimple/datasource_dnsimple_certificate_test.go
  dnsimple/datasource_dnsimple_zone.go
  dnsimple/datasource_dnsimple_zone_test.go
  dnsimple/import_dnsimple_domain_test.go
  dnsimple/import_dnsimple_email_forward_test.go
  dnsimple/import_dnsimple_zone_record_test.go
  dnsimple/provider.go
  dnsimple/provider_test.go
  dnsimple/resource_dnsimple_domain.go
  dnsimple/resource_dnsimple_domain_test.go
  dnsimple/resource_dnsimple_email_forward.go
  dnsimple/resource_dnsimple_email_forward_test.go
  dnsimple/resource_dnsimple_lets_encrypt_certificate.go
  dnsimple/resource_dnsimple_lets_encrypt_certificate_test.go
  dnsimple/resource_dnsimple_record.go
  dnsimple/resource_dnsimple_record_test.go
  dnsimple/resource_dnsimple_zone_record.go
  dnsimple/resource_dnsimple_zone_record_test.go
  dnsimple/zone_record_cache.go
  docs/data-sources/zone.md
  docs/index.md
  docs/resources/domain.md
  docs/resources/email_forward.md
  docs/resources/lets_encrypt_certificate.md
  docs/resources/zone_record.md
  go.mod
  go.sum
  internal/consts/provider.go
  internal/framework/common/provider.go
  internal/framework/common/schema.go
  internal/framework/common/zone_record_cache.go
  internal/framework/common/zone_record_cache_test.go
  internal/framework/datasources/certificate_data_source.go
  internal/framework/datasources/certificate_data_source_test.go
  internal/framework/datasources/zone_data_source.go
  internal/framework/datasources/zone_data_source_test.go
  internal/framework/modifiers/int64planmodifiers.go
  internal/framework/modifiers/int64planmodifiers_test.go
  internal/framework/modifiers/stringplanmodifiers.go
  internal/framework/modifiers/stringplanmodifiers_test.go
  internal/framework/provider/provider.go
  internal/framework/provider/provider_test.go
  internal/framework/resources/domain_resource.go
  internal/framework/resources/domain_resource_test.go
  internal/framework/resources/email_forward_resource.go
  internal/framework/resources/email_forward_resource_test.go
  internal/framework/resources/lets_encrypt_certificate_resource.go
  internal/framework/resources/lets_encrypt_certificate_resource_test.go
  internal/framework/resources/provider_helpers_test.go
  internal/framework/resources/zone_record_resource.go
  internal/framework/resources/zone_record_resource_test.go
  internal/framework/utils/utils.go
  main.go
  terraform-registry-manifest.json
Labels: enhancement, breaking-change

#98 Implement `dnsimple_contact` resource
  GNUmakefile
  docs/resources/contact.md
  internal/framework/provider/provider.go
  internal/framework/resources/contact_resource.go
  internal/framework/resources/contact_resource_test.go
  internal/framework/resources/domain_resource.go
  internal/framework/resources/domain_resource_test.go
Labels: enhancement, new-resource

#102 Implement support for `alternate_names` on the `dnsimple_lets_encrypt_certificate` resource
  docs/resources/lets_encrypt_certificate.md
  internal/framework/resources/lets_encrypt_certificate_resource.go
  internal/framework/resources/lets_encrypt_certificate_resource_test.go
Labels: enhancement

#101 Implement `dnsimple_ds_record` resource
  .github/workflows/test.yaml
  docs/resources/ds_record.md
  internal/framework/provider/provider.go
  internal/framework/resources/domain_ds_record_resource.go
  internal/framework/resources/domain_ds_record_resource_test.go
Labels: enhancement, new-resource

#100 Domain registration and management
  .github/workflows/test.yaml
  GNUmakefile
  docs/resources/registered_domain.md
  internal/consts/provider.go
  internal/framework/common/domain_registration.go
  internal/framework/common/timeouts.go
  internal/framework/datasources/certificate_data_source_test.go
  internal/framework/datasources/zone_data_source_test.go
  internal/framework/provider/provider.go
  internal/framework/resources/contact_resource.go
  internal/framework/resources/contact_resource_test.go
  internal/framework/resources/domain_delegation_resource.go
  internal/framework/resources/domain_delegation_resource_test.go
  internal/framework/resources/domain_ds_record_resource.go
  internal/framework/resources/domain_ds_record_resource_test.go
  internal/framework/resources/domain_resource.go
  internal/framework/resources/domain_resource_test.go
  internal/framework/resources/email_forward_resource.go
  internal/framework/resources/email_forward_resource_test.go
  internal/framework/resources/lets_encrypt_certificate_resource.go
  internal/framework/resources/lets_encrypt_certificate_resource_test.go
  internal/framework/resources/provider_helpers_test.go
  internal/framework/resources/registered_domain/common.go
  internal/framework/resources/registered_domain/configure.go
  internal/framework/resources/registered_domain/create.go
  internal/framework/resources/registered_domain/delete.go
  internal/framework/resources/registered_domain/import.go
  internal/framework/resources/registered_domain/modifiers.go
  internal/framework/resources/registered_domain/modifiers_test.go
  internal/framework/resources/registered_domain/read.go
  internal/framework/resources/registered_domain/resource_test.go
  internal/framework/resources/registered_domain/schema.go
  internal/framework/resources/registered_domain/update.go
  internal/framework/resources/zone_record_resource.go
  internal/framework/resources/zone_record_resource_test.go
  internal/framework/test_utils/utils.go
  internal/framework/utils/utils.go
  internal/framework/utils/utils_test.go
  internal/framework/validators/domain_name.go
  internal/framework/validators/duration.go
  tools/sweep/main.go
Labels: enhancement, new-resource

#104 Polish minor documentation inconsistencies
  docs/resources/domain_delegation.md
  docs/resources/ds_record.md
  docs/resources/email_forward.md
Labels: enhancement, documentation
